<div class="rating">

    <div class="rating__container" *ngIf="!canShowResult">
        <picture class="rating__picture">
            <img src="/assets/icon-star.svg" alt="Icon star" class="rating__icon-star">
        </picture>

        <h1 class="rating__title">How did we do?</h1>
        <p class="rating__paragraph">
            Please let us know how we did with your support request. All feedback is appreciated to help us improve
            our
            offering!
        </p>

        <ul class="rating__buttons">
            <li *ngFor="let rating of ratings">
                <button (click)="setSelected(rating)" class="rating__button"
                    [ngClass]="{'rating__button--selected': selected === rating}">{{rating}}</button>
            </li>
        </ul>
        <button class="rating__submit-button" (click)="showResult()">submit</button>
    </div>

    <div class="rating__container" *ngIf="canShowResult">
        <picture class="rating__picture rating__picture--center">
            <img src="/assets/illustration-thank-you.svg" alt="Thank you illustration" class="rating__thank-you-icon">
        </picture>

        <div class="rating__pill-container">
            <span class="rating__pill">You selected {{selected}} out of 5</span>
        </div>

        <h1 class="rating__title rating__title--center">Thank you!</h1>
        <p class="rating__paragraph rating__paragraph--center">
            We appreciate you taking the time yo give a rating. If you ever need more support, don't hesitate to get
            in touch!
        </p>
    </div>
</div>